.note {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 7px;
   padding: 1rem;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.note__title {
   margin-bottom: 0.5rem;
   padding-bottom: 0.2rem;
   font-size: large;
   font-weight: 500;
}

.note__content {
   color: #2a2a2a;
   font-size: 0.95rem;
   white-space: pre-wrap;
   word-wrap: break-word;
   padding-bottom: 1rem;
}

.note--light {
   background-color: white;
}

.note--light .note__title {
   border-bottom: 0.15rem solid #f7f7f7;
}

@media (min-width: 500px) {
   .note {
      width: 240px;
   }
}
